@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
svg #spinny {
  animation: spin 0.7s ease-in-out;
  transform-origin: 50% 50%;
}
/* <?xml-stylesheet href="styles.css" type="text/css"?> */

@keyframes greenGlow {
  0% {
    fill: #bbd387ff;
    stroke: #bbd387ff;
  }
  50% {
    fill: rgb(159, 209, 50);
    stroke: rgb(159, 209, 50);
  }
  100% {
    fill: #bbd387ff;
    stroke: #bbd387ff;
  }
}

@keyframes majorarmlighter {
  0% {
    fill: #bbd387ff;
    stroke: #bbd387ff;
  }
  50% {
    fill: rgb(193, 206, 165);
    stroke: rgb(193, 206, 165);
  }
  100% {
    fill: #bbd387ff;
    stroke: #bbd387ff;
  }
}
#leftmain, #leftminor, #centerleft, #centerright, #center, #rightmain, #rightminor {
  animation: greenGlow 10s ease-in-out infinite;
}
/* #leftminor {
  animation: greenGlow 23s ease-in-out infinite;
}
#centerleft {
  animation: greenGlow 15s ease-in-out infinite;
}
#centerright {
  animation: greenGlow 15s ease-in-out infinite;
}
#center {
  animation: greenGlow 15s ease-in-out infinite;
}
#rightmain {
  animation: greenGlow 10s ease-in-out infinite;
}
#rightminor {
  animation: greenGlow 23s ease-in-out infinite;
} */
